*{
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image:url('landing.jpg');
    background-size: cover;
    font-family: sans-serif;
}
nav{
   width: 100%;
   height: 100%;
   color: rgb(22, 13, 13);
   display: flex;
   justify-content: space-around;
   align-items: center;

}
.logo{
    font-size: 2em;
    letter-spacing: 2px;

}
.menu a{
    text-decoration: none;
    color: rgb(57, 42, 42);
    padding:10px 20px;
    font-size: 20px;
}
.register a{
    text-decoration: none;
    color: rgb(158, 145, 145);
    padding:10px 20px;
    font-size: 1.5rem;
    background: rgb(19, 15, 15);
    border-radius: 10px;
    margin-top: 25px;
}
.header_text{
     max-width: 650px;
     position: absolute;
     top: 50%;
     left: 50%;
     text-align: center;
     color: rgb(24, 17, 17);
     transform: translate(-50%,-50%);
}
.header_text span{
    letter-spacing: 5px;
}
.header_text h1{
    font-size: 3rem;
}
.header_text a{
    text-decoration: none;
    background: indianred;
    color: rgb(26, 18, 18);
    padding: 10px 20px;
    letter-spacing: 5px;
}
.header_text button{
    background-color: rgb(8, 81, 81);
    color: rgb(44, 31, 31);
    height: 50px;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-top: 20px;

}
.header_text button:hover{
     background-color: crimson;
}
.menu a:hover{
     text-decoration: underline';

} 
.register a:hover{
    background-color: rgb(174, 12, 12);
    color: black;
}